.product
{
 clear: both;	
}

.product .image 
{
	text-align: center;
}

.product .image img
{
	border-radius: 5px;
}


.product .description
{
	margin-left: 210px;
	height: 180px;
}

.product .info
{
	text-align: center;
}

.product .info .item
{
	font-size: 14px;
}

.product .info .item.brand
{
	font-weight: bold;
}

.product .info .item.price
{
	font-weight: bold;
}

.product .info .item.size .value, .product .info .item.size .label
{
	display: inline-block;
}

.productoptions
{
	float: right;
}
.productoptions .price
{
	display: block;
}


.sidebar .block .content ul 
{
	list-style: none;
}

.item-list .pager
{
  text-align: right;
}

.item-list .pager li 
{
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0px;
  text-align: center;
}

.item-list .pager li a
{
  color: #000000;
}

.item-list .pager li.pager-current
{
  background: #000000;
  color: #ffffff;
}

#block-menu-menu-categorien .content{
  margin: 0px;
}

#block-menu-menu-categorien h2{
  font-family: ubunturegular, Arial;
  
}

#block-menu-menu-categorien ul.menu, #block-menu-menu-categorien ul.menu li{
  list-style: none;
}

#block-menu-menu-categorien ul.menu li a
{
	font-family: ubunturegular, Arial;
	color: #000000;
}


@font-face {
    font-family: 'ubuntubold';
    src: url('fonts/ubuntu-b-webfont.eot');
    src: url('fonts/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-b-webfont.woff') format('woff'),
         url('fonts/ubuntu-b-webfont.ttf') format('truetype'),
         url('fonts/ubuntu-b-webfont.svg#ubuntubold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubunturegular';
    src: url('fonts/ubuntu-r-webfont.eot');
    src: url('fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-r-webfont.woff') format('woff'),
         url('fonts/ubuntu-r-webfont.ttf') format('truetype'),
         url('fonts/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
